<!DOCTYPE>
<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" type="text/css" href='styles/intro.css'>
    </head>
    <body>
        <div class='contain'>
            <div id='top'>
                <h1>C. Jordan Ball III</h1>
                <address>
                    99 Maple Avenue, Richmond, VA 23226<br/>
                    757-425-6200<br/>
                    jordan@cjordanball.info
                </address>
            </div>
            <div id="picbar">
                <ul id='piclist'><span id='clickdir'>Click Below for Photos</span><br>
                    <li id="Law">Lawyerly Look</li>
                    <li id="Beach">On a Good Day</li>
                    <li id="MM">Monkey Man</li>
                    <li id="Bug">Buglet</li>
                </ul>
                <img>
            </div>
            <div id='body'>
                <h1 class='hide'>About Me</h1>
                <h3 class='hide'>Introduction</h3>
                <p class='hide'>I am a native of the Tidewater region of Virginia, although I spent a number of years out and about, particularly in New York City, both as a student and as an attorney, and in Seoul, Korea, as an attorney with the law firm of Kim & Chang.</p>
                <p class='hide'>During my time as an attorney, I noticed that I was often most engaged when working on projects that involved technology more than the law, for example, designing a firm website or preparing macros in Excel.</p>
                <p class='hide'>Over the last year I have dedicated myself to the art and science of computer programming and web development.  Last fall, I moved to Seattle and had the great fortune of being able to attend the inaugural session of General Assembly's Web Development Immersive class in Seattle.</p>

                <h3>Education</h3>
                <ul>
                    <li>Manhattan School of Music
                        <ul>
                            <li class='italy'>Bachelor of Music</li>
                            <li>(Classical Guitar)</li>
                        </ul>
                    </li>
                    <li>Georgetown University Law Center
                        <ul>
                            <li class='italy'>Juris Doctor</li>
                            <li>Member, <cite>Georgetown University Law Journal</cite></li>
                        </ul>
                    </li>
                    <li>New York University School of Law
                        <ul>
                            <li class='italy'>Master of Laws, Taxation</li>
                        </ul>
                    </li>
                </ul>

                <h3>Family</h3>
                <p>
                    I am the father of two wonderful children, a 16 year-old daughter and 14 year-old son.
                </p>
                <h3>Most Remarkable Achievement</h3>
                <p>
                    Viewed from a statistical perspective, my most unlikely accomplishment may be my making a double-eagle, <span style='font-style: italic'>i.e.</span>, a score of two on a par five hole.  I accomplished this rare feat not only in competition, but in a match against the crosstown rival school!
                </p>
                <h3>Interests & Hobbies</h3>

                <p>
                    Of late, learning computer programming and design may be described as my primary avocation; however, I will not consider that here as it is moving steadily from the realm of hobby to vocation.
                </p>
                <p>For many years, my primary interest has been music, particularly performance of classical music.  Although I graduated with a degree in classical guitar, I now primarily perform on viola, which I began when my daughter began to make consistent progress as a cellist.  Alas, she has long surpassed me as a string player!</p>
                <p>In addition, I enjoy studying the Korean and French languages, the latter of which I recently began, and try to find time to do a little bit at the start of each morning.  I also enjoy fishing and golf, although I am rarely able to find the time to pursue that interest.</p>
            </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="scripts/intro.js"></script>
    </body>
</html>